/*CSS Styling*/
/*Version 1.0.0*/

body {
  background-color: azure;
}

.res-circle {
  display: block;
  width: 12%;
  border-radius: 50%;
  line-height: 1.25;
  position: relative;
  padding: 0px;
  margin: -5px;
  background: linear-gradient(150deg, #a7cfdf 0%,#000e2b 100%);
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.9);
}

.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.res-circle:hover {
  background: linear-gradient(150deg, #a7cfdf 0%,#3f5e91 100%);
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.9);
  /*width: 15%;
  length: 15%;*/
  border: 3px solid yellow;
  cursor: pointer;
}

.circle-txt {
  color: #eee;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.navigation {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.xx {
  animation-name: xx;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-iteration-count: 20;
}

@keyframes xx {
  0%   {top: 0px;}
  25%  {top: -5px;}
  50%  {top: 0px;}
  75%  {top: 5px;}
  100% {top: 0px;}
}

.yy {
  animation-name: yy;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-iteration-count: 20;
}

@keyframes yy {
  0%   {top: 0px;}
  25%  {top: 5px;}
  50%  {top: 0px;}
  75%  {top: -5px;}
  100% {top: 0px;}
}


/*
.attendance {
  display: block;
  width: 30%;
  border-radius: 50%;
  line-height: auto;
  position: relative;
  padding: 0px;
  background: linear-gradient(150deg, #a7cfdf 0%,#000e2b 100%);
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.9);
}

.attendance::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}*/
/*
@media screen and (max-width: 600px) {*/
  /*CSS Styling*/
  /*Version 1.0.0*/
  /*
  body {
    background-color: azure;
  }

  .res-circle {
    display: block;
    width: 50%;
    border-radius: 50%;
    line-height: auto;
    position: relative;
    padding: 0px;
    background: linear-gradient(150deg, #a7cfdf 0%,#000e2b 100%);
    box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.9);
  }

  .res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .circle-txt {
    color: #eee;
    position: absolute;
    bottom: 50%;
    width: 100%;
    font-size: 300%;
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bold;
  }

  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  div a {
    display: inline-block;
  }

  .attendance {
    display: block;
    width: 30%;
    border-radius: 50%;
    line-height: auto;
    position: relative;
    padding: 0px;
    background: linear-gradient(150deg, #a7cfdf 0%,#000e2b 100%);
    box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.9);
  }

  .attendance::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  img {
    width: 120%;
    length: 120%;
  }
}
*/
