/*CSS Styling*/
/*Version 1.0.0*/

body {
  background-color: azure;
}

.res-circle {
  display: block;
  width: 50%;
  border-radius: 50%;
  line-height: auto;
  position: relative;
  padding: 0px;
  background: linear-gradient(150deg, #a7cfdf 0%,#000e2b 100%);
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.9);
}

.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-txt {
  color: #eee;
  position: absolute;
  bottom: 50%;
  width: 100%;
  font-size: 300%;
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

div a {
  display: inline-block;
}

.attendance {
  display: block;
  width: 30%;
  border-radius: 50%;
  line-height: auto;
  position: relative;
  padding: 0px;
  background: linear-gradient(150deg, #a7cfdf 0%,#000e2b 100%);
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.9);
}

.attendance::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

img {
  width: 120%;
  length: 120%;
}
